#  cping configuration file

#  Options must be specified one per line 
#  Command line options will override these options
-x
-b
#  Each line should contain an IP address or hostname followed by the display name
#  The display name extends from the first nonblank character after the IP address or
#  hostname to the end of the line.  Trailing blanks will be ignored
# Target      Display Name
>example
192.0.43.10   example IP
example.com   Example.com
>Quad9
9.9.9.9       Quad9 DNS
9.9.9.11      Quad9 virginia
>HE
74.82.42.42   Hurricane Electric CA
>Inonet
212.18.0.5    InoNet Germany
google.com    Google
>Google
8.8.8.8       DNS A
>Cloudflare
1.1.1.1       DNS A
1.0.0.1       DNS B
>ClouDNS
185.136.96.77 ClouDNS1
185.136.97.77 ClouDNS2
